<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if data.tab_name %}{{ data.tab_name }}{% else %}Medi-Bot{% endif %}
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="static/assets/doctor.png">
    <link rel="stylesheet" href="static/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/script.js"></script>
  </head>
  <body>
    {% include 'header.html' %} {% block content %} {% endblock %}
  </body>
</html>
