<header id="navbar">
  <nav class="navbar">
    <!-- LOGO -->
    <li><a class="logo" href="/">Antibiotics</a></li>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/my-cabinet">My Cabinet</a></li>
        <li><a href="/#ask">Ask</a></li>
        <li><a href="/#map">Map</a></li>
      </div>
    </ul>
  </nav>
</header>
