{% extends 'base.html' %} {% block content %}

<section class="medicineDet" id="medicineDet">
    <div class="medDetTitle">Cetirizine (Zyrtec, Zyrtec Allergy)</div>

    <div class="details-container">
        <div class="text-content">
            <p>Description: Cetirizine is an antihistamine used to relieve allergy symptoms such as watery eyes, runny nose, itching eyes/nose, sneezing, hives, and itching.</p>
            <p>Side Effects: Headaches, dry mouth, feeling sick (nausea), feeling dizzy.</p>
            <p>Dose: The dosage is based on your age, medical condition, and response to treatment</p>
        </div>
        <div class="image-content">
            <img src="static\assets\download.jpg" alt="Image Description">
        </div>

</section>
{% endblock %}
