{% extends 'base.html' %} {% block content %}

<section class="medicineList" id="medicineList">
    <div class="medTitle">Allergies</div>

    <img src="static\assets\cabinet\pollen-allergy.png" class="medSymtoms" />

    <div class="medicine">
        <ul class="medList">
            <li><a href="/medicineDetails">Cetirizine (Zyrtec, Zyrtec Allergy)</a></li>
            <li><a href="/medicineList">Desloratadine (Clarinex)</a></li>
            <li><a href="/medicineList">Fexofenadine (Allegra, Allegra Allergy)</a></li>
            <li><a href="/medicineList">Levocetirizine (Xyzal, Xyzal Allergy)</a></li>
            <li><a href="/medicineList">Loratadine (Alavert, Claritin)</a></li>
        </ul>
    </div>
</section>
{% endblock %}
